extends ../template
block content
    
    div(style='margin-top:20px')
        h1 Danh Sách FeedBack
        //- a.btn.btn-primary(href='/admin/link/create' role='button') Create
        br
        br
        table#table-id.table.table-striped.table-bordered
            thead
                tr
                    th Title
                    th Feedback
                    th User_id
                    th Time
                    //- th Xoá
            tbody
                each feedback in feedbacks
                    tr
                        td=feedback.title
                        td=feedback.feedback
                        td=feedback.user_id
                        td=`${feedback.time.getDate()}/${feedback.time.getMonth() + 1}/${feedback.time.getFullYear()}--${feedback.time.getHours()}:${feedback.time.getMinutes()}`
                        //- td
                        //-     a.btn.btn-info(href="/admin/link/update/" + link._id) ...
                        //- td
                        //-     a.btn.btn-danger.ml-5(href='/admin/link/delete/'+link._id role='button') x
    
    script.
        $(document).ready(function() {  
            $('#table-id').DataTable(  );
        });

    style.
        .table{
            margin: 5px 5px 5px 5px;
            width: 95%;
            clear: both;
            border-collapse: collapse;
            table-layout: fixed;
            word-wrap:break-word; 
            white-space: normal;
            word-break:break-all;
        }
