extends ../template
block content
    h3 Show messages
        h5="Left: "+room.members[1]
        h5="right: "+room.members[0]
    .message_container.ex
        .message_screen
            each item in mess
                if item.check
                    .message__list
                        .message__item.message__item--user
                            span.message.message--user=item.content
                                br
                                span.time=`${item.created_at.getMonth() +1}/${item.created_at.getDate()}/${item.created_at.getFullYear()},${item.created_at.getHours()}:${item.created_at.getMinutes()}`
                else
                    .message__list
                        .message__item.message__item--bot
                            span.message.message--bot=item.content
                                br
                                span.time=`${item.created_at.getMonth() +1}/${item.created_at.getDate()}/${item.created_at.getFullYear()},${item.created_at.getHours()}:${item.created_at.getMinutes()}`
